useDynLib("flare")
import("MASS","Matrix","lattice","igraph")
export("sugm", 
       "sugm.generator",
       "sugm.clime.ladm.scr",
       "sugm.tiger.ladm.scr",
       "sugm.roc",
       "sugm.select",
       "slim",
       "slim.lad.ladm.scr.btr",
       "slim.sqrt.ladm.scr",
       "slim.dantzig.ladm.scr",
       "slim.lq.ladm.scr.btr",
       "slim.lasso.ladm.scr",
       "sugm.plot",
       "print.slim",
       "print.sugm",
       "print.select",
       "print.sim",
       "plot.slim",
       "plot.sugm",
       "plot.roc",
       "plot.select",
       "plot.sim",
       "coef.slim",
       "predict.slim")
S3method("print", "sugm")
S3method("print", "slim")
S3method("print", "roc")
S3method("print", "select")
S3method("print", "sim")
S3method("plot", "sugm")
S3method("plot", "roc")
S3method("plot", "select")
S3method("plot", "sim")
S3method("coef", "slim")
S3method("predict", "slim")
