useDynLib("flare")
import("MASS","igraph","Matrix","lattice")
export("flare.tiger", 
       "flare.tiger.generator",
       "flare.tiger.clime.mfista",
       "flare.tiger.slasso.mfista",
       "flare.tiger.roc",
       "flare.tiger.select",
       "flare.slim",
       "flare.slim.lad.mfista",
       "flare.slim.sqrt.mfista",
       "flare.slim.dantzig.mfista",
       "flare.plot",
       "print.slim",
       "print.tiger",
       "print.select",
       "print.sim",
       "plot.slim",
       "plot.tiger",
       "plot.roc",
       "plot.select",
       "plot.sim")
S3method("print", "tiger")
S3method("print", "slim")
S3method("print", "roc")
S3method("print", "select")
S3method("print", "sim")
S3method("plot", "tiger")
S3method("plot", "roc")
S3method("plot", "select")
S3method("plot", "sim")
